@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
}

:root {
  --color1: #3fb8af;
  --color2: #7fc7af;
  --color3: #dad8a7;
  --color4: #ff9e9d;
  --color5: #ff3d7f;

  --font-default: "Open Sans", sans-serif;
  --font-title: "Concert One", cursive;
}

body {
  font-family: var(--font-default);

  padding: 0;
  margin: 0;

  background: linear-gradient(
    45deg,
    var(--color4),
    var(--color3),
    var(--color2),
    var(--color1)
  );
}

h1 {
  font-family: var(--font-title);
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  color: var(--color3);
  text-align: center;
  font-size: 2.5em;
  line-height: 200px;
}

h2 {
  font-family: var(--font-title);
  color: var(--color3);
  text-align: center;
  font-size: 2.5em;
  line-height: 200px;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

nav {
  height: 10vh;
  background: linear-gradient(
    to right,
    var(--color1),
    var(--color2),
    var(--color3),
    var(--color4),
    var(--color5)
  );
}

nav #logo img {
  height: 35px;
  margin: 15px 0 0 15px;
}

main section {
  display: flex;
  flex-direction: column;
  align-items: center;

  background: rgba(0, 0, 0, 0.3) url(images/comemorativas/dia-da-criancas.png);
}

#capa {
  max-width: 95vw;

  border-radius: 15px;
}

.destaque {
  margin: auto 5px;
  border-radius: 15px;

  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    background: url(images/comemorativas/dia-da-criancas.png);
  background-size: cover;
}

.carrossel {
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;

  margin: 5px;
  border-radius: 15px;

  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  background: rgba(255, 255, 255, 0.3);
}

.item {
  width: 270px;

  border-radius: 15px;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.3);

  margin: 15px;

  transition: transform 0.5s;
}

.item:hover {
  transform: scale(1.1);
  border-radius: 15px;

  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.3);
  background: rgba(255, 255, 255, 0.3);
}

footer {
  display: flex;
  justify-content: center;
}

footer a {
  background: var(--color4);
  border: 1px solid var(--color4);

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  padding: 16px;
  margin: 0 12px;

  transition: background 0.2s;
  border-radius: 50%;
}

footer a:hover {
  background: var(--color5);
  border: 1.5px solid var(--color5);
}

p {
  text-align: center;
  margin: 10px 0;
}
